

input[type="submit"]{
  display: block;
  margin: 0 auto;
  width: 50%;
  height: 50px;
  font-family: Helvetica;
  border-bottom: 5px solid steelblue;
  border-top: none;
  border-left: none;
  border-right: none;
  background: linear-gradient(#5FDDFF,#53ADDF);
  color: white;
  border-radius: 10px;
  box-shadow: 0px 2px 10px grey;
  transition: 150ms ease;
  font-weight: bold;
}

input[type="submit"]:active{
  border: none;
  border-bottom: 2px solid steelblue;
  box-shadow: 0px 1px 5px grey;
  background: linear-gradient(#53AFFF,#5FCDFF);
  color: #FFF;
}
